<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>
<br>

    Наименование : {{ product.name }} <br>
    Описание : {{ product.description }} <br>
    Цена : {{ product.price }} <br><br>

</body>
</html>